body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffcc00;
    color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header div {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

header button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #e74c3c;
}

h1 {
    color: #ffcc00;
    font-size: 48px;
    margin-top: 20px;
    text-shadow: 2px 2px #333;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ffcc00;
    margin-bottom: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e74c3c;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#teams {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-grow: 1;
}

#team1, #team2 {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 40%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    font-size: 18px;
}

#rulesButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer {
    background-color: #ffcc00;
    color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

footer button:hover {
    background-color: #e74c3c;
}

.quiz-container {
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-question {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ffcc00;
}

.quiz-answer {
    display: none;
    font-size: 24px;
    color: #4CAF50;
    margin-top: 20px;
    text-align: center;
}

.quiz-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.quiz-button:hover {
    background-color: #e74c3c;
}

.next-game-button {
    font-size: 24px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

.next-game-button:hover {
    background-color: #218838;
}

#awardPointsContainer {
    margin-top: 30px;
    text-align: center;
}

#awardPointsContainer h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffcc00;
}

.winner {
    font-size: 30px;
    color: #FFD700;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.winner.centered {
    text-align: center;
    width: 100%;
}

.guess-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-input {
    margin-bottom: 20px;
    text-align: center;
}

.guess-input label {
    display: block;
    font-size: 18px;
    color: #ffcc00;
    margin-bottom: 10px;
}

.guess-input input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ffcc00;
    width: 100px;
    text-align: center;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    white-space: nowrap;
}

.difference {
    font-size: 0.8em;
    color: #ccc;
    margin-left: 10px;
}

.statement {
    user-select: none;
    font-size: 24px;
    background-color: #444;
    color: #ffcc00;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
